<h1>Salut <%= @user.first_name %>, nous te souhaitons un bon apprentissage au sein de la famille Gracie !</h1>
==========================================================
 
Ton inscription au cours est validee via ton email: <%= @user.email %>.

Pour accéder a ton espace client, connectes-toi via : <%= @url %>.
 
A tres vite sur <%= @url %> !