<div class="carousel-inner">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-item active">
           <%= image_tag "GB-Banner2.jpg", :class => "d-block w-100", :style => "filter:grayscale(30%);"%>
          <div class="carousel-caption d-none d-md-block">
          <h1><mark>Jiu-Jitsu</mark></h1>
          <h1><mark>For</mark></h1>
          <h1><mark>Everyone</mark></h1>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Rejoignez-nous</a>
          </div>
        </div>
        <div class="carousel-item">
           <%= image_tag "GB-banner-bg.jpg", :class => "d-block w-100", :style => "filter:grayscale(30%);"%>
          <div class="carousel-caption d-none d-md-block">
            <h1><mark>Jiu-Jitsu</mark></h1>
            <h1><mark>For</mark></h1>
            <h1><mark>Everyone</mark></h1>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Rejoignez-nous</a>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "GB-Banner3.jpg", :class => "d-block w-100", :style => "filter:grayscale(30%);"%>
          <div class="carousel-caption d-none d-md-block">
            <h1><mark>Jiu-Jitsu</mark></h1>
            <h1><mark>For</mark></h1>
            <h1><mark>Everyone</mark></h1>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Rejoignez-nous</a>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>